body {
    background-color: #c0e4ff;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    color: #070013;
}

p {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: #070013;
}