body {
    background-color: #ffe226;
}

h1 {
    color: #ba0000;
}

p1 {font-size: 19;
font-family: 'Times New Roman', Times, serif;}
p2 {font-size: 19;
    font-family: 'Times New Roman', Times, serif;}
    p3 {font-size: 19;
        font-family: 'Times New Roman', Times, serif;}